<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> New Game</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <form action="/newGame" method="post">
        <div class="form-group">
            <label>Park</label>
            <input type="text" class="form-control" name="park">
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" value="2014-02-09" name="date">
        </div>
        <div class="form-group">
            <label>Time</label>
            <input type="text" class="form-control" name="time">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Create</button>
    </form>

</div>

</div>
</body>
</html>
